@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    &copy; StockX<br />
    <br />
    <abbr title="Phone">Phone</abbr>
    +07xx-24xxxxx
</address>

<address>
    <strong>Support:</strong>   <a href="stockX@gmail.com">stockX@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Stocks@example.com">Stocks@example.com</a>*@
</address>